@Master['layout']

@Section['Title']
붕괴토토란?
@EndSection

@Section['Contents']
    <div class="container">
        <h1>붕괴토토</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>
                    붕괴토토란 트위터 계정 <a href="https://twitter.com/Collapsed_bot">붕괴(@Collapsed_bot)</a>의 트윗을 예측하는 게임입니다.
                </p>
                <p>
                    붕괴토토는 GGGGJ 2015의 주제 '붕괴'에 대하여, 붕괴(@Collapsed_bot) 트위터 계정을 기념하기 위한 의도로 만들어졌습니다.
                    붕괴(@Collapsed_bot) 트위터 계정은 재밌고 창의적이며 틀을 깨는 트윗을 종종 업로드하는 계정으로, 붕괴토토의 개발자들도 깊은 감명을 받아 주시하고 있는 계정입니다.
                </p>
            </div>
            <div class="col-md-6">
                <a class="twitter-timeline" href="https://twitter.com/intent/user?user_id=342104633" data-widget-id="632466698667339776" data-user-id="342104633">@Collapsed_bot 님의 트윗</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
@EndSection
