@Master['layout']

@Section['Title']
봉괴토토 기록
@EndSection

@Section['Contents']
    <div class="container">
        <h1>붕괴토토 이전 회차 기록</h1>
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>회차</th>
                    <th>종료일시</th>
                    <th>트윗</th>
                    <th>Point 규모</th>
                    <th>상세보기</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <th scope="row">2</th>
                    <td>2015-08-16 00:30:02 (KST)</td>
                    <td><a href="https://twitter.com/Collapsed_bot/status/632406374052294656">번식이라는 개념이 존재하지 않는 고결한 ...</a></td>
                    <td>21,765,876 pt</td>
                    <td>
                        <a class="btn btn-warning" href="oldround.html?round=2" role="button">상세 정보</a>
                        <a class="btn btn-info" href="result.html?round=2" role="button">내 결과</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>2015-08-15 22:30:02 (KST)</td>
                    <td><a href="https://twitter.com/Collapsed_bot/status/632405938553524225">헬조센론이 대안을 제공하지 못하는 건전하지 못한 ...</a></td>
                    <td>10,315,346 pt</td>
                    <td><a class="btn btn-warning" href="oldround.html?round=1" role="button">상세 정보</a></td>
                </tr>
            </tbody>
        </table>
    </div>
@EndSection